.flats-filters {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  font-size: var(--fz-filter-item);
  line-height: var(--lh-filter-item);
  background-color: var(--cl-bg-filter);
}

//Legend

.flats-filters__legend {
  margin-bottom: 8px;
}

//Fieldset

.flats-filters__rooms,
.flats-filters__plans,
.flats-filters__project,
.flats-filters__house,
.flats-filters__price,
.flats-filters__square,
.flats-filters__house-status,
.flats-filters__view,
.flats-filters__ceiling-hight,
.flats-filters__flat-advantages,
.flats-filters__house-advantages,
.flats-filters__infrastructure,
.flats-filters__house-format {
  margin-bottom: 25px;
}
