.flats-filters {
  padding-top: 43px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
  font-size: var(--fz-filter-item);
  line-height: var(--lh-filter-item);
  background-color: var(--cl-bg-filter);
}

//Legend

.flats-filters__legend {
  margin-bottom: 8px;
}

//Fieldset

.flats-filters__rooms,
.flats-filters__plans,
.flats-filters__project,
.flats-filters__house,
.flats-filters__price,
.flats-filters__square,
.flats-filters__house-status,
.flats-filters__view,
.flats-filters__ceiling-hight,
.flats-filters__flat-advantages,
.flats-filters__house-advantages,
.flats-filters__infrastructure,
.flats-filters__house-format {
  margin-bottom: 25px;
}

.flats-filters__house-status,
.flats-filters__view,
.flats-filters__ceiling-hight,
.flats-filters__flat-advantages,
.flats-filters__house-advantages,
.flats-filters__infrastructure,
.flats-filters__house-format {
  position: relative;

  &::before {
    content: "Фильтр находится в разработке";
    padding: 20px;
    width: auto;
    height: auto;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
    background-color: var(--cl-bg-filter-error);
    border: 2px solid var(--cl-brd-filter-error);
    text-align: center;
    overflow: hidden;
  }

  &:hover::before {
    display: block;
  }
}

//Button

.flats-filters__reset-button {
  padding: 5px;
  min-width: 110px;
  box-sizing: border-box;
  position: absolute;
  top: 38px;
  right: calc(100% + 15px);
  font-size: var(--fz-filter-button);
  line-height: var(--lh-filter-button);
  color: var(--cl-txt-filter-reset);
}
