.flats__list {
  display: flex;
  flex-wrap: wrap;
}

//Item

.flats__item {
  margin-right: 7px;
  margin-bottom: 17px;
  width: calc(($width-content - 61px) / 3);
  min-height: 300px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: var(--fz-card-text);
  line-height: var(--lh-card-text);

  &:hover {
    position: relative;
    z-index: 10;
  }
}

.flats__item:last-child {
  margin-right: 0;

  &:hover {
    min-height: 411px;
  }
}

.flats__item:nth-child(3n) {
  margin-right: 0;
}

//Content

.flats__content {
  padding: 15px;
  width: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: var(--cl-bg-card);

  &:hover {
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    box-shadow: 0 0 15px var(--cl-shd-card-hover), 0 25px 15px -15px var(--cl-shd-card-hover);
  }

  &:hover .flats__button {
    display: block;
  }

  &:hover .flats__text {
    margin-bottom: 20px;
  }

  &:hover .flats__title {
    color: var(--cl-txt-title-hover);
  }
}

//Image block

.flats__image-block {
  margin-bottom: 3px;
  order: 1;
}

//Text block

.flats__text-block {
  flex: 1 1 auto;
  order: 2;
}

//Title-block

.flats__title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//Title

.flats__title {
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-weight: 600;
  font-size: var(--fz-card-title);
  line-height: var(--lh-card-title);
}

//Subtitle

.flats__subtitle {
  margin-bottom: 7px;
  font-size: inherit;
  line-height: inherit;
}

//Text

.flats__quantity {
  margin-right: 14px;
  position: relative;

  &::before {
    content: "";
    width: 2px;
    height: 2px;
    position: absolute;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: var(--cl-txt-main-text);
  }
}

//Button

.flats__button {
  padding: 18px;
  order: 3;
  display: none;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--cl-bg-card);
}
