.main-index__container {
  margin: 0 auto;
  width: calc($width-container);
  height: 100%;
  display: grid;
  grid-template-columns: $width-content 340px;
  grid-template-rows: min-content;
  justify-content: space-between;
  overflow: hidden;
}

.main-index__content {
  box-sizing: border-box;
  grid-row: 1/2;
  grid-column: 1/2;
}

.main-index__filters {
  min-height: 100%;
  box-sizing: border-box;
  grid-row: 1/2;
  grid-column: 2/3;
}
