.page {
  width: 100%;
  min-width: calc(var(--width-container) + 80px);
  min-height: 100%;
  background: linear-gradient(232.72deg, var(--cl-bg-body-from) 3.98%, var(--cl-bg-body-to));
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.page__body {
  padding: 105px 40px;
  margin: 0;
  box-sizing: border-box;
}
