.page {
  width: 100%;
  min-width: calc($width-container + 80px);
  height: 100%;
  background-color: var(--cl-bg-body-to);
}

.page__body {
  padding: 105px 40px;
  width: 100%;
  box-sizing: border-box;
}
