//Label

.plan-features__label {
  padding-left: 22px;
  display: block;
  position: relative;

  &::before {
    content: "";
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 1px solid var(--cl-brd-filter-checkbox);
    border-radius: 2px;
  }

  &::after {
    content: "";
    width: 10px;
    height: 5px;
    box-sizing: border-box;
    display: none;
    position: absolute;
    top: 3px;
    left: 2px;
    transform: rotate(-45deg);
    border-bottom: 2px solid var(--cl-brd-filter-check);
    border-left: 2px solid var(--cl-brd-filter-check);
  }
}

//Input

.plan-features__checkbox:checked + .plan-features__label::after {
  display: block;
}
