
//Value block

.range__field-list {
  margin-bottom: 8px;
  display: flex;
}

//Item

.range__item {
  margin-right: 4px;
  box-sizing: border-box;
  width: calc(50% - 4px);
  position: relative;

  &:last-child,
  &:nth-child(2n) {
    margin-right: 0;
  }
}

//Field

.range__field {
  padding-top: 9px;
  padding-right: 8px;
  padding-bottom: 9px;
  padding-left: 26px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--cl-brd-filter-field);
  border-radius: 2px;

  &:invalid {
    box-shadow: 0 0 0 2px var(--cl-shd-invalid);
  }
}

//Sratic placeholder 

.range__placeholder {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}

//Slider block

.range__slider-block {
  width: 293px;
  height: 16px;
}
