.swiper{
  width: 100%;
  height: auto;
}
// Pagination

.swiper .swiper-pagination {
  height: 10px;
  border: 2px solid red;
  z-index: 100;
  width: 100%;
  left: 0;
  bottom: 0;
}

.swiper .swiper-pagination > .swiper-pagination-bullet {
  width: 20px;
  height: 1px;
  border-radius: 0;
  opacity: 1;
  background-color: var(--cl-bg-slider-pagination);
  cursor: pointer;
}

.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: var( --cl-bg-slider-pagination-current);
}

.swiper .swiper-wrapper--image {
  width: 280px;
  outline: 1px solid green;
}