.swiper{
  width: 100%;
  height: auto;
}
// Pagination

.swiper .swiper-pagination {
  height: 28px;
  position: relative;
  box-sizing: border-box;
}

.swiper .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: auto;
}

.swiper .swiper-pagination > .swiper-pagination-bullet {
  width: 50px;
  height: 1px;
  border-radius: 0;
  opacity: 1;
  background-color: var(--cl-bg-slider-pagination);
  cursor: pointer;
}

.swiper .swiper-pagination > .swiper-pagination-bullet-active {
  background-color: var( --cl-bg-slider-pagination-current);
}