:root {
  //Body
  --cl-bg-body-from: rgb(30, 44, 56);
  --cl-bg-body-to: rgb(27, 69, 105);
  //Container
  --cl-bg-container: rgb(245, 246, 247);
  --cl-shd-container: rgba(0, 19, 35, 0.4);
  //Text
  --cl-txt-main-text: rgb(30, 52, 71);
  //Tags
  --cl-bg-tags: rgb(255, 255, 255);
  --cl-brg-tags: rgb(228, 231, 234);
  //Filter summary
  --cl-fill-view-button: rgb(196, 196, 196);
  --cl-fill-view-button-checked: rgb(30, 52, 71);
  --cl-bg-view-button: rgb(255, 255, 255);
  --cl-shd-view-button: rgba(0, 19, 35, 0.1);
  //Product card
  --cl-txt-title-hover: rgb(0, 96, 175);
  --cl-bg-card: rgb(255, 255, 255);
  --cl-bg-card-button: rgb(183, 223, 255);
  --cl-shd-card-hover: rgba(179, 189, 197, 0.3);
  --cl-shd-card-button-hover: rgb(0, 96, 175);
  --cl-brd-favorite: rgb(214, 220, 225);
  --cl-fill-favorite-checked: rgba(197, 0, 0);
  //Image slider
  --cl-bg-slider-pagination: rgb(214, 220, 225);
  --cl-bg-slider-pagination-current: rgb(0, 96, 175);
  //Filter
  --cl-brd-filter-field: rgb(214, 220, 225);
  --cl-brd-filter-check: rgb(0, 96, 175);
  --cl-shd-filter-hover: rgb(0, 96, 175);
  --cl-txt-filter-hover: rgb(0, 96, 175);
  --cl-bg-filter-checkbox-hover: rgb(228, 243, 255);
  --cl-txt-filter-placeholder: rgb(133, 139, 151);
  --cl-bg-filter: rgb(255, 255, 255);
  --cl-txt-filter-link: rgb(0, 96, 175);
  --cl-txt-filter-link-hover: rgb(139, 162, 178);
  --cl-bg-filter-legend-info-hover:rgb(0, 96, 175);
  --cl-txt-filter-legend-hover:rgb(0, 96, 175);
  --cl-txt-filter-legend-info-hover:rgb(255, 255, 255);
  --cl-txt-filter-info: rgb(133, 139, 151);
  --cl-brd-filter-error: rgb(251, 200, 153);
  --cl-bg-filter-error: rgb(255, 255, 255);
  //Range slider
  --cl-bg-noui-fill: rgb(30, 52, 71);
  --cl-brd-noui: rgb(214, 220, 225);
  --cl-bg-noui-handle: rgb(255, 255, 255);
  --cl-shd-noui-handle: rgba(0, 19, 35, 0.1);
  //Form fileds
  --cl-shd-invalid: rgb(255, 0, 0);
}
