:root {
  --cl-bg-body-from: rgb(30, 44, 56);
  --cl-bg-body-to: rgb(27, 69, 105);
  --cl-bg-container: rgb(255, 255, 255);
  --cl-shd-container: rgba(0, 19, 35, 0.4);
  --cl-txt-main-text: rgb(30, 52, 71);
  --cl-txt-title-hover: rgb(0, 96, 175);
}
