:root {
  //Common
  --fz-title: 30px;
  --lh-title: 33.3px;
  //Tag
  --fz-tag: 12px;
  --lh-tag: 15px;
  //Card
  --fz-card-title: 22px;
  --lh-card-title: 25.78px;
  --fz-card-text: 14px;
  --lh-card-text: 19.6px;
  --fz-card-button: 12px;
  --lh-card-button: 14.63px;
  //Filter
  --fz-filter-item: 12px;
  --lh-filter-item: 15px;
  --fz-filter-legend: 16px;
  --lh-filter-legend: 19.5px;
  --fz-filter-info: 11px;
  --lh-filter-info: 14px;
}
